Repository GCTC-NTGC/TalentCloud: changes, and which Codecov flags are due for each by the changed paths.
All: phpunit, jest

.codecov.yml:

# TalentCloud codecov.io config
# .codecov.yml

coverage:
  range: 30..70
  round: up
  status:
    project:
      default:
        base: auto
        target: auto
        threshold: null
        branches: null
      patch: no

  parsers:
    javascript:
      enable_partials: yes

flags:
  phpunit:
    paths:
      - app/
  jest:
    paths:
      - resources/assets/js/

comment:
  layout: "header, diff, tree, changes"
  branches: null

twigcs fixes
  resources/views/hr_advisor/job_summary.html.twig
  resources/views/manager/applicant_profile.html.twig
  resources/views/manager/application_post.html.twig
  resources/views/manager/assessment_plan.html.twig
  resources/views/manager/job-builder-root.html.twig
  resources/views/manager/job_create.html.twig
  resources/views/manager/job_index.html.twig
  resources/views/manager/notification.html.twig
  resources/views/manager/profile.html.twig
  resources/views/manager/review_applications.html.twig
Due: none

upgrade babel/storybook/core-js
  package-lock.json
  package.json
Due: none

final tinkerings
  .codecov.yml
  .scrutinizer.yml
  .travis.yml
Due: none

fix bracketing in web.php
  routes/web.php
Due: none

add manager summary route, use jobPoster consistently
  app/Http/Controllers/JobSummaryController.php
  routes/web.php
Due: phpunit

change links on manager job index
  resources/lang/en/manager/job_index.php
  resources/lang/fr/manager/job_index.php
  resources/views/manager/job_index/job.html.twig
Due: none

upgrade storybook/* to 5.3.1
  package-lock.json
  package.json
Due: none

Fix text spacing
  resources/views/common/skill.html.twig
Due: none

Allow hr advisor to view version of job review page
  app/Http/Controllers/JobBuilderController.php
  resources/assets/js/components/HRPortal/JobReviewHrPage.tsx
  resources/assets/js/helpers/routes.ts
  resources/lang/en/hr_advisor/job_review.php
  resources/lang/fr/hr_advisor/job_review.php
  resources/views/hr_advisor/job_review.html.twig
  routes/web.php
  webpack.mix.js
Due: phpunit, jest

Update lockfiles
  composer.lock
  package-lock.json
Due: none

Replace buttons & modals with single link on HR version of job review page
  resources/assets/js/components/HRPortal/JobReviewHrPage.tsx
  resources/assets/js/components/JobBuilder/Review/JobReview.tsx
Due: jest

Added the jobReview url to the job summary page
  app/Http/Controllers/JobSummaryController.php
  resources/lang/en/hr_advisor/job_summary.php
  resources/views/hr_advisor/job_review.html.twig
  resources/views/hr_advisor/job_summary.html.twig
Due: phpunit

Spread correct values into work environment
  resources/assets/js/components/JobBuilder/WorkEnv/WorkEnvForm.tsx
Due: jest

Fall back to existing key task value during update function
  resources/assets/js/components/JobBuilder/Tasks/JobTasks.tsx
Due: jest

run phpunit on separate database
  phpunit.xml
Due: none

reinstall composer after merge
  composer.lock
Due: none

Alphabetize the typescript models
  resources/assets/js/models/types.ts
Due: jest

add testing db to travis
  .env.travis
  Makefile
Due: none

Add endpoint for single User
  app/Http/Controllers/Api/UserController.php
  routes/web.php
Due: phpunit

Update typescript User definition with additional fields
  resources/assets/js/models/types.ts
Due: jest

Add js endpoints for User
  resources/assets/js/api/user.ts
Due: jest

Add User actions for Redux
  resources/assets/js/store/User/userActions.ts
Due: jest

add translations for summary page
  resources/lang/fr/hr_advisor/job_summary.php
  routes/web.php
Due: none

run translations, add french values
  resources/assets/js/translations/extractedMessages/resources/assets/js/components/ApplicationReview/ReviewApplications.json
  resources/assets/js/translations/extractedMessages/resources/assets/js/components/AssessmentPlan/AssessmentPlanTable.json
  resources/assets/js/translations/extractedMessages/resources/assets/js/components/HRPortal/JobIndexHr.json
  resources/assets/js/translations/extractedMessages/resources/assets/js/components/HRPortal/JobIndexHrPage.json
  resources/assets/js/translations/extractedMessages/resources/assets/js/components/JobBuilder/Impact/JobBuilderImpact.json
  resources/assets/js/translations/extractedMessages/resources/assets/js/components/JobBuilder/Intro/IntroForm.json
  resources/assets/js/translations/extractedMessages/resources/assets/js/components/JobBuilder/Review/DemoSubmitJobModal.json
  resources/assets/js/translations/extractedMessages/resources/assets/js/components/JobBuilder/Review/JobReview.json
  resources/assets/js/translations/extractedMessages/resources/assets/js/components/JobBuilder/Skills/CriteriaForm.json
  resources/assets/js/translations/extractedMessages/resources/assets/js/components/JobBuilder/Skills/JobBuilderSkills.json
  resources/assets/js/translations/extractedMessages/resources/assets/js/components/JobBuilder/Tasks/JobTasks.json
  resources/assets/js/translations/extractedMessages/resources/assets/js/components/JobBuilder/WorkEnv/WorkEnvModal.json
  resources/assets/js/translations/extractedMessages/resources/assets/js/components/JobCard.json
  resources/assets/js/translations/extractedMessages/resources/assets/js/components/UnclaimedJobCard.json
  resources/assets/js/translations/extractedMessages/resources/assets/js/models/localizedConstants.json
  resources/assets/js/translations/locales/defaultMessages.json
  resources/assets/js/translations/locales/fr.json
Due: jest

remove 'not in gov' option for HR users
  app/Http/Controllers/Auth/FirstVisitController.php
  resources/views/auth/manager_registration_fields.html.twig
Due: phpunit

bulk update babel/react/etc
  package-lock.json
  package.json
Due: none

Simplify front-end comment response parsing
  resources/assets/js/api/job.ts
Due: jest

Update User api to "parse" all Users response
  resources/assets/js/api/user.ts
  resources/assets/js/store/User/userActions.ts
Due: jest

Add User selectors
  resources/assets/js/store/User/userSelector.ts
Due: jest

Add User reducers
  resources/assets/js/fakeData/fakeUsers.ts
  resources/assets/js/store/User/userReducer.test.ts
  resources/assets/js/store/User/userReducer.ts
Due: jest

Update global store
  resources/assets/js/store/store.ts
Due: jest

Used ts const assertion to improve type safety!
  resources/assets/js/models/app.ts
  resources/assets/js/models/jobUtil.ts
  resources/assets/js/models/lookupConstants.ts
Due: jest

Added missing comment urls for managers
  resources/assets/js/models/jobUtil.ts
Due: jest

Add test for single User endpoint
  resources/assets/js/store/User/userReducer.test.ts
Due: jest

Extra type safety turned out to be overzealous
  resources/assets/js/components/ActivityFeed.tsx
  resources/assets/js/models/jobUtil.ts
Due: jest

Add location select box to CommentForm
  resources/assets/js/components/CommentForm.tsx
Due: jest

Create ReviewActivityFeed component
  resources/assets/js/components/JobBuilder/Review/ReviewActivityFeed.tsx
Due: jest

Add ReviewActivityFeed to JobReview page
  resources/assets/js/components/JobBuilder/Review/JobReview.tsx
Due: jest

Refactor LocationId constants and localized constants for Review page
  resources/assets/js/models/jobUtil.ts
  resources/assets/js/models/localizedConstants.tsx
  resources/assets/js/models/lookupConstants.ts
Due: jest

Remove Activity feed test on JobIndexHr page
  resources/assets/js/components/HRPortal/JobIndexHr.tsx
Due: jest
